*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(251, 7, 7, 0.1));
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 10%;
    height: 10%;
    transform: translate(-250%, 10%);
    border-radius: 20px;
}

.menu {
    flex-grow: 1;
    height: 70px;
    display: flex;
    justify-content: center;
    transform: translate(0%, -90%);
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu ul li {
    margin: 0 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #000000;
}


.btn {
    width: 100px;
    height: 40px;
    background: #000000;
    border: 2px solid #000000;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 150px; /* Adjust this value to move content further down */
    color: #fff;
    position: relative;
}

.par {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.content h1 {
    font-family: 'Times New Roman', serif;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content span {
    color: #000000;
}

.cn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cn a {
    color: #fff;
    text-decoration: none;
}

.cn:hover {
    background-color: #000000;
}

.content span{
    color: #000000;
    font-size: 60px;
}

.form {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    position: absolute;
    right: 20px;
    top: 50%; /* Position at 50% from the top of its container */
    transform: translate(-150%, -80%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #fff;
}

.form input:focus{
    outline: none;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.btnn {
    width: 100%;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnn:hover {
    background-color: #000000;
}

.link {
    text-align: center;
    margin-top: 15px;
    color: #fff;
}

.link a {
    color: #000000;
    text-decoration: none;
}

.photo-cole {
    width: 25%;
    padding-top: 50px;
}

.photo-tanner {
    width: 24.5%;
    height: auto;
    padding-left: 100px;
}
