@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh; /* Ensure the body covers the full height */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f);
  background-size: 600% 600%;
  animation: gradientBackground 15s ease infinite;
  min-height: 100vh; /* Ensure the background covers the entire viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

/* New class to add extra scrollable space */
.scroll-padding {
  padding-bottom: 500px; /* Add extra space at the bottom to allow for scrolling */
}
